@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@700&family=Raleway&family=Roboto&family=Tenor+Sans&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

body::-webkit-scrollbar {
    width: .4vw;
}

body::-webkit-scrollbar-track {
    background: #050505;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.199);
    /* border-radius: .2vw; */
    transition: 800ms ease;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.377);
}

a {
    text-decoration: none;
    color: inherit;
    /* herdando a cor do elemento pai */
    transition: 200ms ease;
}

#navbar {
    width: 100%;
    height: 8.5vh;
    background: #000;
    opacity: 1;
    color: #fff;
    position: absolute;
    transition: 500ms ease;
}

#second-navbar {
    width: 100%;
    height: 8.5vh;
    background: #000;
    opacity: 0;
    color: #fff;
    position: fixed;
    transition: 500ms ease;
}

#second-navbar:hover {
    opacity: 1;
}

.navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    /*como é filho, margin: auto leva automaticamente para o centro. (muito útil) */
    display: flex;
    justify-content: space-between;
    /* alinhamento horizontal */
    align-items: center; 
    /* alinhamento vertical */
}

.logo {
    font-size: 3.2vh;
    font-family: 'Raleway', 'sans-serif';
    /* "rem": vezes o tamanho padrão do texto */
}

.navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navbar-items li {
    padding: 1vh;
    font-size: 1.65vh;
}

.navbar-items a:hover {
    color: #555;
}

.showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url(Resources/HardSolve.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Overlay */
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
}

.showcase-container {
    text-align: center;
}

.showcase-container h2 {
    font-size: 8.5vh;
    font-family: 'Open Sans', 'sans-serif';
}

.showcase-container p {
    font-style: italic;
    font-size: 4vh;
    padding: 1vh 0px;
}

.btn {
    display: inline-block;
    /* considerando como um bloco/div */
    padding: 1.6vh 3.5vw;
    margin-top: 2vh;
    font-size: 2vh;
    background: #fff;
    color: #000;
    border-radius: 4vh;
    transition: 500ms ease;
}

.btn:hover {
    cursor: pointer;
    color: #fff;
    background: #000;
}

#problem {
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-headline {
    font-size: 6.3vh;
    font-family: 'Raleway', 'sans-serif';
    text-align: center;
    padding: 5.18vh 6vw 6vh 5vw;
    letter-spacing: .1vw;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* quatro colunas que ocupem uma fração da div total */
    justify-items: center;
    padding: 0vh 5vw 14vh 5vw;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content e align-items se invertem ao utilizar flex-direction assim */
    width: 16vw;
    height: 30vh;

    background: #000;
    color: #fff;
    border-radius: 5vh;
    
    transition: 500ms ease;
    padding: .5vw;
}

.top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2vh;
}

.media-card {
    padding: 1.8vw;
    text-align: center;
    font-family: 'Nunito', 'sans-serif';
    font-size: 1.5vh;
}

.card:hover {
    background: #fff;
    color: #000;
    box-shadow: .5vh .5vh 2vh #26395338;
}

.we-do {
    width: 100%;
    height: 33vh;
    background: url(Resources/roman-spiridonov-FemeYrbdMWE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* Overlay */
    background-color: rgba(0, 0, 0, 0.800);
    background-blend-mode: color;
    padding: 4.2vh 5vw 4.2vh 5vw;
    transition: 700ms ease;
}

.we-do-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* deixando os elementos como se fosse uma coluna */
    /* eixos x e y se invertem */
    justify-content: space-around;
}

.we-do-headline {
    color: #fff;
    font-size: 3.5vw;
    font-family: 'Tenor Sans', 'sans-serif';
    text-align: right;
    width: 100%;
    /* 90% da classe pai */
    margin-bottom: 1vh;
}

.we-do .media {
    font-size: 2.5vw;
    font-family: 'Nunito', 'sans-serif';
    color: #757474;
    text-align: right;
    width: 100%;
}

.we-do:hover {
    background-color: #000;
}

#opinions {
    width: 100%;
    height: 100vh;
    background: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opinions-headline {
    color: #fff;
    font-size: 6vh;
    font-family: 'Tenor Sans', 'sans-serif';
    padding-left: 5.8vw;
}

.opinions-container {
    width: 54%;
    height: 100%;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 15vh 0vw;
}

.opinion {
    background: #fff;
    color: #000;
    width: 100%;
    height: 20vh;
    border-radius: 20vw 0px 0px 20vw;
    border: 2px solid #fff;
    /* cima esquerda, cima direita, baixo direita, baixo esquerda */

    display: flex;
    justify-content: start;
    align-items: center;
    /* align-items: center; */

    transition: 500ms ease;
}

.opinion-2 {
    width: 90%;
}

.opinion-3 {
    width: 80%;
}

.opinion-image {
    height: 17vh;
    width: auto;
    /* preciso utilizar mais a classificação "auto" */
    /* creio que faz com que a largura estique ou reduza de acordo com o contaúdo do elemento */
    margin: .7vw;
    object-fit: cover;
}

.opinion:hover {
    background: #000;
    color: #fff;
}

.name-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-right: 1vw;
}

.name-comment h1 {
    font-size: 3vh;
}

.name-comment h1 {
    padding-bottom: 1vh;
}

.name-comment p {
    font-size: 1.95vh;
}

#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(Resources/carlos-irineu-da-costa-bjsaHc2jx3Y-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

.contact-container {
    width: 60vw;
    text-align: center;
    color: #fff;
}

.contact-container h2 {
    font-size: 5vw;
    font-family: 'Raleway', 'sans-serif';
}

.buttons-container {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.button-contact {
    border-radius: 5vh;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 3vh;
    text-align: center;
    font-size: 1vw;
}

#footer a:hover {
    color: #555;
}

@media (max-width: 700px) {

    #navbar {
        height: 12vh;
    }

    #second-navbar {
        height: 12vh;
        width: 100%;
    }

    .navbar-container {
        flex-direction: column;
        padding: 2vh;
    }

    .navbar-items {
        padding: 2%;
    }

    .showcase-container h2 {
        font-size: 6vh;
    }

    .showcase-container p {
        font-size: 4vh;
    }

    .btn {
        padding: 2vh 14vw;
        font-size: 2.5vh;
    }

    #problem {
        height: 422vh;
        /* resolvendo a sobreposição das sections */
    }
    
    .first-headline {
        font-size: 4vh;
        padding: 5vh 6vw 5vh 6vw;
        letter-spacing: .5vw;
    }

    .cards-container {
        padding: 0vh;
        /* padding-bottom: 1vh; */
        grid-template-columns: 1fr;
        margin-bottom: 5vh;
    }

    .card {
        margin: 4vh 0vh;
        height: 70vh;
        width: 85vw;
    }

    .card-1 {
        margin-top: 0vh;
    }

    .top-card {
        font-size: 4vh;
    }
    
    .media-card {
        padding: 4vh;
        font-size: 2vh;
    }

    .we-do {
        height: 90vh;
    }

    .we-do-container {
        padding: 8vh 0vh;
    }

    .we-do-headline {
        font-size: 7vh;
        text-align: center;
        margin-bottom: 0vh;
    }

    .we-do .media {
        font-size: 4.5vh;
        text-align: center;
    }

    #opinions {
        flex-direction: column;
        justify-content: center;
        height: 190vh;
    }

    .opinions-headline {
        font-size: 6vh;
        text-align: center;
        padding: 8vh 15vw 0vh 15vw;
    }

    .opinions-container {
        width: 100%;
        padding: 1vh 0vw 8vh 0vw;
        justify-content: space-around;
        align-items: center;
    }

    .opinion {
        width: 40vh;
        height: auto;
        border-radius: 4vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2.7vh 4vw;
    }

    .opinion-image {
        margin-bottom: 2vh;
    }

    .name-comment {
        width: 100%;
        align-items: center;
        padding: 1.5vw;
    }

    .name-comment p {
        text-align: center;
        font-size: 2.1vh;
        /* padding: 0px 10px; */
    }

    #contact {
        height: 100vh;
    }

    .contact-container {
        width: 100%;
    }

    .contact-container h2 {
        width: 100%;
        font-size: 7vh;
    }

    .buttons-container {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        padding: 0vh 25vw;
        /* display flex faz os botões esticarem com flex-direction: coloumn. Por isso utilizar justify-content e padding dos lados*/
    }

    .button-contact {
        font-size: 2vh;
    }

    #footer {
        font-size: 2vh;
    }
}